#ContentPane {
	width: 70%;
  	background-color: #383838;
     background-image: linear-gradient(180deg, #101010 30%, #383838);
     color: lightgray;
	font: bold 150px monospace, Fira Mono, serif;
	transition: width 0.3s;
}
html {
  scrollbar-transition: smooth;
  scroll-behavior: smooth;
}
#TitleNGS {color: red;
	background: linear-gradient(to left, blue, red);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-stroke: 2px pink;
	color: transparent;
} #TitleS {color: gray;-webkit-text-stroke: 1px darkgray;}
#TitleLAND {
	font-size: 130px;
	background: linear-gradient(to left, blue, red);
	background-clip: text;
	-webkit-background-clip: text;
	color: #ed0533;
}
#aboutmespan {
	background: linear-gradient(180deg, #fFFFFF 55%, #ffed4b 10%);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}
body {
     background-color: #606060;
     overflow: auto;
}
.tab {
	font-size: 0px;
	margin: 0;
	padding: 0;
	border: none;
	//border-bottom: solid gray 5px;
	border-width: 5px;
	line-height:100%;
}
#borderbottom {
	font: initial;
	width: 70%;  /* or 100px */
	margin: 0;
	padding: 0;
	border-top: solid gray 5px;
}
#borderbottom a {
	font: bold 40px monospace, Fira Mono, serif;
	color:lightblue;
	padding: 15px;
	padding-left: 15px;
	text-decoration:none;
}
.tab button {
	font: 20px consolas, Fira Mono, serif;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 12px 16px;
	margin-left: 5px;
	transition: 0.3s;
	border-collapse: collapse;
	background-color: #f1f1f1;
  	border-top-left-radius: 15px;
  	border-top-right-radius: 15px;
}
.tab button:hover {
	background-color: #ddd;
}
.tab button.active {
	background-color: #929292;
}
.tabcontent {
	font-size: 0;
	display: none;
	padding: 0px 0px;
	border: none;
}
