body {
	background-color: #1b0136
}

#ContentPane {
  	--SizeWidth: 600px;
  	--SizeHeight: 500px;
	margin: 0;
	position: absolute;
	top: calc(50% - var(--SizeHeight) / 2);
	left: calc(50% - var(--SizeWidth) / 2);
	height: var(--SizeHeight);
	width: var(--SizeWidth);
	margin-top: calc(var(--SizeHeight) / 2 * - 1);
	margin-left: calc(var(--SizeWidth) / 2 * - 1);
	//background-color: white;
}
#ContentPane * {
	position: relative;
	display: inline-block;
	top: 30px;
}
#ContentPane input[type=text] {
	width: 250px;
	height: 50px;
	text-align: center;
	font: bold 40px consolas,monospace, Fira Mono, serif;
	color: black;
	border: solid 4px gray;
}
#ContentPane input[type=button] {
	width: 150px;
	height: 60px;
	color: black;
	border: solid 4px gray;
	margin-left:10px;
	vertical-align:top;
	font: bold 25px consolas,monospace, Fira Mono, serif;
	cursor: pointer;
}
#ContentPane input[type=button]:hover {
	background-color:darkgray;
}
#ContentPane p {
	text-align: center;
	font: bold 20px consolas,monospace, Fira Mono, serif;
	color: white;
}
